<!-- Button trigger modal -->
<button type="button" class="btn btn-block btn-alert" data-toggle="modal" data-target="#customerDetailModal">
  Customer Details
</button>

<!-- Modal -->
<div class="modal fade" id="customerDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for(@customer, url:"/customer/#{@customer.uuid}/update", method: :put, remote:true) do |f| %>
            <%= f.text_field :full_name %>
            <%= f.text_field :address %>
            <%= f.text_area :notes %>
            <%= f.submit "Update" %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      <% end %>
      </div>

    </div>
  </div>
</div>